.cmake/
.idea/
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
pico-extras/
pioasm/
Testing/
CMakeCache.txt
build.ninja
cmake_install.cmake
Makefile
firmware.uf2
pico_extras_import.cmake
pico_sdk_import.cmake
update.bin
usk.bin
usk.dis
usk.elf
usk.elf.map
usk.hex
usk.uf2
